.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menu {
    flex: 1.5;
}

.content {
    flex: 8.5;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 999;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 150px;
}

.logout-btn,
.change-info-btn {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}